Source: freedv
Section: main
Priority: optional
Maintainer: Stuart Longland <stuartl@longlandclan.yi.org>
Build-Depends: debhelper (>= 9), cmake, 
 libhamlib-dev, libsamplerate-dev, libasound2-dev, libao-dev, libgsm1-dev,
 portaudio19-dev, libsox-dev, libsndfile1-dev, libwxgtk3.0-dev
Standards-Version: 3.9.5
Homepage: http://www.freedv.org
#Vcs-Git: git://anonscm.debian.org/collab-maint/freedv.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/freedv.git;a=summary

Package: freedv
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: FreeDV: Open-Source Digital Voice
 FreeDV is a digital voice system for HF radio. This
 GUI application allows you to run FreeDV with any SSB
 radio.
 