---
Checks: "-*,performance*,-performance-enum-size,-performance-avoid-endl,clang-diagnostic-*,clang-analyzer-*,-clang-analyzer-security.FloatLoopCounter,-clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling"
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
ExcludeHeaderFilterRegex: '3rdparty/.*'
FormatStyle:     none
